.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.5) 50%), url('duotone.png');
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Rubik', sans-serif;
  text-align:right;
  width: 44vw;
  padding-top: 50px;
  margin-bottom: 0px;

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 10px;
  margin-right: 120px;
}

svg {
width:50vw;
height:400px;
z-index : 1;

}

.btn {
  margin-right: 20vw;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding: 15px 25px;
}
