    <div class="container">
      <div class="row">
        <% @locations.each do |location|  %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category"> <% instru = location.instrument %><%= instru.title %></div>
          <div class="card-description">
            <h2> <%= location.date %></h2>
            <h2> <%= location.price %></h2>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
          </div>
          <!-- insert <div class="card"> -->
        </div>

        <% end %>
      </div>
    </div>

