<div class="container">

  <h1>Dashboard</h1>

  <div class="reservation"> Reservations </div>

  <div class="historique"> Historique</div>

  <div class="instrument_en_location"> Instrument en location</div>

</div>

