<div class="container">

  <h1>Dashboard</h1>

  <div class="reservation"> <h2>Reservations </h2> </div>

  <div class="historique"> <h2> Historique </h2></div>

  <div class="instrument_en_location"> <h2>Instrument en location </h2> <hr>
    <div class="display"></div>
   <%  @instruments = @user.instruments  %>
    <%= render 'cards_style' %>
  </div>


  <div>
   <%= link_to("create instrument", new_instrument_path, class: "btn btn-primary btn-lg active") %>
  </div>
</div>
