<div class="container">

  <h1>Dashboard</h1>

  <div class="reservation"> Reservations </div>

  <div class="historique"> Historique</div>

  <div class="instrument_en_location"> Instrument en location</div>
   <%  @user.instruments.each do |instrument|  %>
    <%= instrument %>
   <% end %>


    <div>
     <%= link_to("create instrument", new_instrument_path, class: "btn btn-primary btn-lg active") %>
    </div>

</div>




