
  .reservation {
    height: 200px;
    border-style: solid;
    border-color: green;
    margin: 10px;
  }

  .historique {
    height: 200px;
    border-style: solid;
    border-color: green;
    margin: 10px;
  }

    .instrument_en_location {
    height: auto;
    border-style: solid;
    border-color: green;
    margin: 10px;
  }

  .display {
    display: flex;
    align-items: center;
  }
