.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
}

.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  text-align:center;
  margin: 10px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #3ab696;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
// .fa {
//   font-size: 5px;
// }
