.container-dashboard {
    display:flex;
    opacity:0.9;
    overflow:hidden;
  }

  .reservation {
    background:white;
    margin: 10px;

  }

.colonne-droite {
  display: flex;
  flex-direction: column;
  flex-grow:2;
}

  .historique {
    background:white;
    margin: 10px;
  }

  .instrument_en_location {
    background:white;
    height: 90vh;
    overflow:scroll;
    width: 35vw;
    margin: 10px;
    p{
      text-align:right;
      margin-right: 10px;
    }
    h2 {
      text-align:center;
    }
  }

  h2 {
    font-family:'Montserrat';
  }
    .btn {

      margin-bottom: 5vh;
    }

  .message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.delete-link {
  position:absolute;
left:5px;
bottom:5px;
color:black;
}
