.container-dashboard {

  background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('duotone.png');
    display:flex;
    opacity:0.9;
  }
  .reservation {
    background:white;
    margin: 10px;

  }

.colonne-droite {
  display: flex;
  flex-direction: column;
  flex-grow:2;

}


  .historique {
    background:white;
    margin: 10px;
  }

    .instrument_en_location {
    background:white;
    height: auto;
    width: 600px;
    margin: 10px;
  }

    .btn {

      margin-bottom: 5vh;
    }

    .message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.btn-purple {
  background: #5D1579;
  color: white;
}

.button-icons {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.selected {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  margin-bottom: 0;
}
