.btn-purple {
  background: #5D1579;
  color: white;
}

.button-icons {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.selected {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  margin-bottom: 0;
}

.btn {

margin-bottom: 5vh;
}
