.btn-purple {
  background: #5D1579;
  color: white;
}

.button-icons {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.selected {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  margin-bottom: 0;
}

.btn {

margin-bottom: 5vh;
}

.btn-medium {
  color: black;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  margin: 5px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: black;

  }
