  <div class="row">
  <% @instruments.each do |instrument|  %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= instrument.photo %>);">

          <div class="card" style="border-style: solid;">

            <div class="card-category"> <%= instrument.marque %> </div>
              <div class="card-description">
                <h2><%= instrument.title %></h2>
                <p><%= instrument.marque %></p>
              </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
      </div>
      </div>
      </div>
      </div>
    </div>
</div>
  <% end %>
