<!-- <h1>Instruments#index</h1>
<p>Find me in app/views/instruments/index.html.erb</p>
 -->

<div class="container">
  <div class="knowledge-search-bar">
  <div class="flex-between">
    <h1>Search in instruments</h1>
  </div>
  <form class="form-inline" action="/instruments/search" accept-charset="UTF-8" method="get">
    <div class="input-group">
      <input value="search bar" placeholder="devise, maps, hashes" class="form-control" id="query" pattern=".*\w{3,}.*" title="Words expected" type="text" name="keyword">
      <span class="input-group-btn">
        <button name="button" type="submit" class="btn btn-default">
          <i class="fas fa-search"></i>
        </button>
      </span>
    </div>
</form>
</div>


<%= render 'cards_style' %>
</div>


