<div style="margin:10px">
  <h1><%= @instrument.title %></h1>
    <p><%= @instrument.description %></p>
    <p><%= @instrument.marque %></p>
</div>

<div class="book_option">
  <p> To do : Book button</p>
</div>

