<div style="margin:10px">
  <h1><%= @instrument.title %></h1>
    <p><%= @instrument.description %></p>
    <p><%= @instrument.marque %></p>
</div>

<div class="book_option">
  <p class="btn" style="margin:10px"> <%= link_to 'book', new_instrument_location_path(@instrument.id) %> </p>
</div>

